.heroSection {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.heroSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.heroContent {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--color-text-light);
}

.heroContent h1 {
  font-size: 4.5rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ctaButton {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.ctaButton a{
  text-decoration: none;
  color: var(--color-text-light);
}

.ctaButton:hover {
  background-color: var(--color-primary-light);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .heroContent h1 {
    font-size: 3rem;
  }

  .ctaButton {
    padding: 12px 25px;
    font-size: 0.9rem;
  }
}