.locationSection {
    padding: 80px 5%;
    background-color: var(--color-background);
}

.locationContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.textContainer {
    flex: 1;
}

.title {
    color: var(--color-primary);
    font-size: 1.2rem;
}

.address{
    font-size: 2.5rem;
    color: var(--color-text-light);
    margin-top: 0;
    margin-bottom: 25px;
}