.locationSection {
    padding: 80px 5%;
    background-color: var(--color-background);
}

.locationContainer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
    
}