
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;
}

* {
  box-sizing: border-box;
} 

:root {
  --color-primary: #057EB9;        
  --color-primary-light: #06ADFF; 

 
  --color-background: #1C1C1C;    
  --color-surface: #202020;       


  --color-text-light: #FFFFFF;     
  --color-text-dark: #1C1C1C;     
  --color-text-secondary: #969696; 


  --color-black: #000000;
}
